{% extends "base.html" %}
{% load reviewtags %}

{% block content %}

<p>Object: {{ object.name }}</p>


<h1>render_review_form</h1>
{% render_review_form for object category 'example1' %}


<h1>get_review_form</h1>
{% get_review_form for object category 'ex' as form %}
{{ form.as_p }}


<h1>get_review_count</h1>
1. direct: {% get_review_count for object %}<br>
2. with "as": {% get_review_count for object as count %} said {{ count }}<br>


<h1>get_review_list</h1>
{% get_review_list for object as review_list %}

{% for review in review_list %}
  Review: {{ review.text }}
{% endfor %}



{% endblock %}
