{% extends "base.html" %}
{% load reviewtags %}

{% block content %}

<a href="{% url index %}">Back</a>

<h2 class="title">{{ object.name }}</h2>

<!-- counting of the reviews -->
{% get_review_count for object as count %}
<p>Reviews: {{ count }}</p>

<p>
  <a href="javascript: document.getElementById('writereview').style.display='block';">Write your own review!</a>
</p>

<div class="writereview" id="writereview" style="display: none">
  <b>Write a review:</b>
  <!-- this renders the form. we use a custom form, look at testapp/reviews/form.html -->
  {% render_review_form for object category cat %}
</div>


<h2>Reviews:</h2>

{% if count > 0 %}
  <!-- here we render the review list. customlist.html is a template in this
       testapp. "with" is optional, if not defined the template tag will search
       for different templates, one is "reviews/list.html" -->
  {% render_review_list for object with "customlist.html" %}
{% else %}
  No reviews found. <a href="javascript: document.getElementById('writereview').style.display='block';">Write a review</a>
{% endif %}


{% endblock %}
